	h1 {
		font-size: 6vmin;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1.5px 0 black, 0 -1px black;
	}
	h1,h2,p{
		color: white;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	}
	a{
		font-size: 3vmin;
   	 	color: white;
    	text-decoration: none;
    display: block;

	}
	object{
		object-fit: cover;
		width: 85%;
		height: 100%;
	}
	::-webkit-scrollbar { 
		display: none; 
	}
	a:hover 
	{
    	color: white; 
     	text-decoration:none; 
     	cursor:pointer;  
	}
	#items
	{
		background-image: url("../images/win98win.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	#itemsborder
	{
		cursor:move;  
	}
	#folder
	{
		background-image: url("../images/win98folder.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	#folderborder
	{
		cursor:move;  
	}
	#wallpaper
	{
		background-image: url("../backgroundselect.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	#wallpaperborder
	{
		cursor:move;  
	}
	body{
		background-color: RGB(58, 110, 165);
		background-size: repeat;
		overflow: hidden;
	}
	@font-face{
		font-family: "DOS";
		src: url('fonts/MorePerfectDOSVGA.ttf') format('truetype');
	}
