	h1 {
		font-size: 6vmin;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1.5px 0 black, 0 -1px black;
	}
	h1,h2,p{
		color: white;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	}
	a{
		font-size: 3vmin;
   	 	color: white;
    	text-decoration: none;
		display: block;

	}
	object{
		object-fit: cover;
		width: 85%;
		height: 100%;
	}
	::-webkit-scrollbar { 
		display: none; 
	}
	a:hover 
	{
    	color: white; 
     	text-decoration:none; 
     	cursor:pointer;  
	}
	#items
	{
		background: silver;
		resize: both;
		min-width: 800;
		min-height: 600;
		
	}
	.noclick
	{
		pointer-events: none;
	}
	@font-face{
		font-family: "DOS";
		src: url('../fonts/MorePerfectDOSVGA.ttf') format('truetype');
	}
	#clock
	{
		font-size: 12px;
		font-weight: normal;
		font-family: DOS;
		text-shadow: none;
	}
	#itemsheader
    {
		background-image: url("../images/mainstretch-up.png"); 
	}
	#folder
	{
		background-image: url("../images/win98folder.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	#folderborder
	{
	}
	#wallpaper
	{
		background-image: url("../backgroundselect.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	#wallpaperborder
	{
	}
	.clickable
	{
		cursor:url("data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAYAAAAmaHdCAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAjklEQVQ4T92MUQ7AIAhDvf+lnbUluiAT/dxLyJC9tgRUzTXVwM7TOar4a8lVmSpYYmCfZotivsTArgmR+l1i3zYde9ihCyC7t3EHvWIWmXcoUzJjJUCnc5BlBdH5DOQYJzqfgRzjA/3KgwyjA/3KAZ8xj5Q9cBnxSNkDl5E10mLgUI2RGgOHaoxJu2mU8gAnksZWpSW4vgAAAABJRU5ErkJggg=="), pointer; 
	}
	.move
	{
	}
	body{
		background-image: none;
		background-color: RGB(58, 110, 165);
		background-size: repeat;
		overflow: hidden;
		cursor:url("data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATCAYAAABGKffQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAb0lEQVQ4T5WLCQ7AIAzD+P+nO9zRrrByWQqC4JSKVDi2Ufl0oDKcDFyG3aCTYTX4yTAbpDJkg6kM42ApQxxsZbDBVKZP8snJncPjsn3aG6yz6Gcs212J/fscilbSKfHfhZgrmWSDToi5kgmSiSJSHn58TNA+RjVaAAAAAElFTkSuQmCC"), auto;
	}
	@font-face{
		font-family: "DOS";
		src: url('../fonts/MorePerfectDOSVGA.ttf') format('truetype');
	}
	
	/*Themeing Settings*/
	#diritem{top:8px;}
	#folder{width: 219px; height: 100px;}
	
	#itemsheader{height:21px;} /* Should match MS-UP Height */
	
	#MS-UP{content:url("../images/mainstretch-up.png"); height:21px;}
	#MS-LEFT{content:url("../images/mainstretch-left.png"); width:3px;}
	#MS-RIGHT{content:url("../images/mainstretch-right.png"); width:3px;}
	#MS-DOWN{content:url("../images/mainstretch-down.png"); height:3px;}
	
	#MC-UPLEFT{content:url("../images/maincorner-upleft.png");}
	#MC-UPRIGHT{content:url("../images/maincorner-upright.png");}
	#MC-DOWNLEFT{content:url("../images/maincorner-downleft.png");}
	#MC-DOWNRIGHT{content:url("../images/maincorner-downright.png");}
	
	#taskbar{background-image: url("../images/taskbar-stretch.png");}
	#taskbarButton{content:url("../images/taskbar-left.png");}
	#taskbarDetail{content:url("../images/taskbar-detail.png");}
	#taskbarRight{content:url("../images/taskbar-right.png");}	
	
	#taskbar{height: 100%; width: 100%; position: absolute; left: 0; bottom: 0; top: calc(100% - 30px)}
	#clock{color: black; position:absolute; top:-3; right:8 ; text-align: center}
	
	.errorcontainer {
		width: 358px; /*Use this to control width of the parent container, hence the image*/
		height: 130px;
		background-image: url("../images/new404.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	.IEcontainer {
		width: 324px; /*Use this to control width of the parent container, hence the image*/
		height: 130px;
		background-image: url("../images/newIE.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}