	h1 {
		font-size: 6vmin;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1.5px 0 black, 0 -1px black;
	}
	h1,h2,p{
		color: white;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	a{
		font-size: 3vmin;
   	 	color: white;
    	text-decoration: none;
		display: block;

	}
	object{
		object-fit: cover;
		width: 85%;
		height: 100%;
	}
	::-webkit-scrollbar { 
		display: none; 
	}
	a:hover {
    	color: white; 
     	text-decoration:none; 
     	cursor:pointer;  
	}
	#items{
		resize: both;
		min-width: 800;
		min-height: 600;
		background: url("../xp-images/background1px.png");
		background-size: calc(100% - 5px) calc(100% - 5px);
		background-repeat: no-repeat;
		background-position: center;
	}
	.noclick{
		pointer-events: none;
	}
	@font-face{
		font-family: "DOS";
		src: url('../fonts/MorePerfectDOSVGA.ttf') format('truetype');
	}
	#clock{
		font-size: 12px;
		font-weight: normal;
		font-family: DOS;
		text-shadow: none;
	}
	#itemsheader{background-image: url("../xp-images/mainstretch-up.png"); }
	#folder{
		background-image: url("../xp-images/win98folder.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	#wallpaper{
		background-image: url("../backgroundselect.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	.clickable{
		cursor:url("data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAYAAAAmaHdCAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAjklEQVQ4T92MUQ7AIAhDvf+lnbUluiAT/dxLyJC9tgRUzTXVwM7TOar4a8lVmSpYYmCfZotivsTArgmR+l1i3zYde9ihCyC7t3EHvWIWmXcoUzJjJUCnc5BlBdH5DOQYJzqfgRzjA/3KgwyjA/3KAZ8xj5Q9cBnxSNkDl5E10mLgUI2RGgOHaoxJu2mU8gAnksZWpSW4vgAAAABJRU5ErkJggg=="), pointer; 
	}
	body{
		background-image: url("../xp-images/background.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color: RGB(58, 110, 165);
		overflow: hidden;
		cursor:url("data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATCAYAAABGKffQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAb0lEQVQ4T5WLCQ7AIAzD+P+nO9zRrrByWQqC4JSKVDi2Ufl0oDKcDFyG3aCTYTX4yTAbpDJkg6kM42ApQxxsZbDBVKZP8snJncPjsn3aG6yz6Gcs212J/fscilbSKfHfhZgrmWSDToi5kgmSiSJSHn58TNA+RjVaAAAAAElFTkSuQmCC"), auto;
	}
	@font-face{
		font-family: "DOS";
		src: url('../fonts/MorePerfectDOSVGA.ttf') format('truetype');
	}
	
	/*Themeing Settings*/
	#diritem{top:15px;}
	#folder{width: 219px; height: 107px;}
	
	#itemsheader{height:30px; width: calc(100% - 10px)} /* Should match MS-UP Height */
	#MS-UP{content:url("../xp-images/mainstretch-up.png"); height:30px;}
	#MS-LEFT{content:url("../xp-images/mainstretch-left.png"); width:5px;}
	#MS-RIGHT{content:url("../xp-images/mainstretch-right.png"); width:5px;}
	#MS-DOWN{content:url("../xp-images/mainstretch-down.png"); height:5px;}
	
	#MC-UPLEFT{content:url("../xp-images/maincorner-upleft.png");}
	#MC-UPRIGHT{content:url("../xp-images/maincorner-upright.png");}
	#MC-DOWNLEFT{content:url("../xp-images/maincorner-downleft.png");}
	#MC-DOWNRIGHT{content:url("../xp-images/maincorner-downright.png");}
	
	#taskbar{background-image: url("../xp-images/taskbar-stretch.png");}
	#taskbarButton{content:url("../xp-images/taskbar-left.png");}
	#taskbarDetail{content:url("../xp-images/taskbar-detail.png");}
	#taskbarRight{content:url("../xp-images/taskbar-right.png");}	
	
	#taskbar{height: 100%; width: 100%; position: absolute; left: 0; bottom: 0; top: calc(100% - 30px)}
	#clock{color: white; position:absolute; top:-2; right:15 ; text-align: center}
	
	.errorcontainer {
		width: 362px; /*Use this to control width of the parent container, hence the image*/
		height: 126px;
		background-image: url("../xp-images/new404.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	.IEcontainer {
		width: 273px; /*Use this to control width of the parent container, hence the image*/
		height: 126px;
		background-image: url("../xp-images/newIE.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}