body{
	animation: bgColor 5s infinite linear;
}
@keyframes bgColor {
  0% {
    background-color: #FF5555;
  }
  25% {
    background-color: #55FF55;
  }
  50% {
    background-color: #5555FF;
  }
  75% {
    background-color: #55FF55;
  }
  100% {
    background-color: #FF5555;
  }
}