	@font-face{
		font-family: "CHARCOAL";
		src: url('../fonts/CHARCOAL.ttf') format('truetype');
	}
	@font-face{
		font-family: "geneva";
		src: url('../fonts/geneva-9.ttf') format('truetype');
	}
	h1 {
	
		font-size: 6vmin;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1.5px 0 black, 0 -1px black;
	}
	h1,h2,p{
		color: white;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	}
	a{
		font-size: 3vmin;
   	 	color: white;
    	text-decoration: none;
		display: block;

	}
	object{
		object-fit: cover;
		width: 85%;
		height: 100%;
	}
	::-webkit-scrollbar { 
		display: none; 
	}
	a:hover 
	{
    	color: white; 
     	text-decoration:none; 
     	cursor:pointer;  
	}
	#items
	{
		background: RGB(221, 221, 221);
		resize: both;
		min-width: 800;
		min-height: 600;
		overflow: hidden;
		
	}
	.noclick
	{
		pointer-events: none;
	}

	#clock
	{
		font-size: 9pt;
		font-weight: normal;
		font-family: CHARCOAL;
		text-shadow: none;
	}
	#itemsheader
    {
		background-image: url("../images/mainstretch-up.png"); 
	}
	#folder
	{
		background-image: url("../images/win98folder.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	#folderborder
	{
	}
	#wallpaper
	{
		background-image: url("../backgroundselect.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	#wallpaperborder
	{
	}
	.clickable
	{
		cursor:url("data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAYAAAAmaHdCAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAjklEQVQ4T92MUQ7AIAhDvf+lnbUluiAT/dxLyJC9tgRUzTXVwM7TOar4a8lVmSpYYmCfZotivsTArgmR+l1i3zYde9ihCyC7t3EHvWIWmXcoUzJjJUCnc5BlBdH5DOQYJzqfgRzjA/3KgwyjA/3KAZ8xj5Q9cBnxSNkDl5E10mLgUI2RGgOHaoxJu2mU8gAnksZWpSW4vgAAAABJRU5ErkJggg=="), pointer; 
	}
	.move
	{
	}
	body{
		background-image: none;
		background-color: RGB(221, 221, 221);
		background-image: url("../images/background.png");
		background-size: repeat;
		overflow: hidden;
		cursor:url("data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATCAYAAABGKffQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAb0lEQVQ4T5WLCQ7AIAzD+P+nO9zRrrByWQqC4JSKVDi2Ufl0oDKcDFyG3aCTYTX4yTAbpDJkg6kM42ApQxxsZbDBVKZP8snJncPjsn3aG6yz6Gcs212J/fscilbSKfHfhZgrmWSDToi5kgmSiSJSHn58TNA+RjVaAAAAAElFTkSuQmCC"), auto;
	}
	/*Themeing Settings*/
	#diritem
	{
		transform-origin: top left;
		position: relative; 
		top: 0px; left: 0px; 
		width: 193px; height: 18px;
		padding-top: 0px; padding-bottom: 0px;
	}
	
	#diritem_top
	{
		transform-origin: top left;
		position: relative; 
		top: 0px; left: 0px; 
		width: 193px; height: 18px;
		padding-top: 0px; padding-bottom: 0px;
	}
	
		
	#folder{
		width: 193px; height: 113px; top: 20px; left: 17px
	}
	
	#itemsheader{height:22px;} /* Should match MS-UP Height */
	
	#MS-UP		{height:22px;}
	#MS-LEFT	{width:6px;}
	#MS-RIGHT	{width:6px;}
	#MS-DOWN	{height:7px;}
	

	#taskbar{background-image: url("../images/taskbar-stretch.png");}
	
	#taskbarButton_inactive{position: absolute; left: 17px;}
	#taskbarButton_active{	position: absolute; left: 17px;}

	#taskbar{height: 20px; width: 100%; position: absolute; left: 0; top: 0;}
	#clock{color: black; position:absolute; top:-10; right:150; text-align: center}
	#splash{
		background-image: url("../images/text-background.png");
		background-repeat: repeat-x;
		font-family: CHARCOAL;
		position: relative;
		top:0px;
		text-align: center;
		font-weight: normal;
		font-size: 9pt;
		color: black; 
		padding-left:10px; 
		padding-right:10px;
	}
	
	.errorcontainer {
		width: 358px; /*Use this to control width of the parent container, hence the image*/
		height: 130px;
		background-image: url("../images/new404.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}
	.IEcontainer {
		width: 324px; /*Use this to control width of the parent container, hence the image*/
		height: 130px;
		background-image: url("../images/newIE.png");
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
		background-position: top left;   
	}