# Block includes if they have a .inc.php extension. Change
# that to match whatever extension you use for your includes.
<Files *.png>
Order Deny,Allow
Deny from All
</Files>
# Block access to .txt files
<Files *.txt>
Order Deny,Allow
Deny from All
</Files>

# Create a custom page for all 403 errors
ErrorDocument 403 404.html