	h1 {
		font-size: 6vmin;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	h1,h2,p{
		color: white;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	a{
		font-size: 3vmin;
   	 	color: white;
    	text-decoration: none;
    display: block;

	}
	html{
		@font-face{font-family: c64;
			src: url('Commodore-64-v6.3.ttf'),
	}
	}
	a:hover 
	{
    	color: white; 
     	text-decoration:none; 
     	cursor:pointer;  
	}
	#items
	{
		border-radius: 1px;
		background-color: RGB(120,106,189);
	}
	#itemsheader
	{
		font-size: 2vmin;
		font-weight: bold;
		color: white;
		text-align: center;
	}
	body{
	background-image: url("com64bg.jpg");
	background-color: rgb(195, 160, 255);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}