	h1 {
		font-size: 6vmin;
		color: blue;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	h1,h2,p{
		color: blue;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	a{
		font-size: 3vmin;
   	 	color: blue;
    	text-decoration: none;
    display: block;

	}

	a:hover 
	{
    	color: white; 
     	text-decoration:none; 
     	cursor:pointer;  
	}
	#items
	{
		background-color:rgba(0, 51, 102, 0.7);
		border-radius: 20px;
	}
	#itemsborder
	{
		cursor:move;  
	}
	body{
		
		background-image: url("../images/ps2bg.gif");
		background-color: 000000f;
		background-size: length;                      /* <------ */
		background-repeat:  no-repeat;
		background-position: top left;   
	}